label.error { float: none; color: red; padding-left: 0px; vertical-align: bottom; }
div.error { float: none; color: red; padding-left: 0px; vertical-align: bottom; }
#preview-container h2{color:#ccccff;line-height: 200px}
#preview-container{
		border: 1px solid darkGray;
		background-color: #fff;
		border-radius: 3px 3px 3px 3px;
		box-shadow: 0 2px 0 hsla(0, 100%, 100%, 0.63),0 1px 2px hsla(0, 0%, 0%, 0.15) inset;
		width: 50%;
		height: 200px;
		overflow: hidden;
		text-align: center;
		margin: 10px auto;
	}
.actionBox {
    border-top:1px dotted #bbb;
    padding:10px;
}
.commentList {
    padding:0;
    list-style:none;
    max-height:200px;
    overflow:auto;
}
.commentList li {
    margin:0;
    margin-top:10px;
}
.commentList li > div {
    display:table-cell;
}
.commenterImage {
    width:80px;
    margin-right:5px;
    height:100%;
    float:left;
}
.commenterImage img {
    width:100%;
    border-radius:10%;
}
.commentText p {
    margin:0;
}
.sub-text {
    color:#aaa;
    font-family:verdana;
    font-size:11px;
}

 #imgShowArea{
  border: 1px solid darkGray;
  background-color: #fff;
  border-radius: 3px 3px 3px 3px;
  box-shadow: 0 2px 0 hsla(0, 100%, 100%, 0.63),0 1px 2px hsla(0, 0%, 0%, 0.15) inset;
  height: 270px;
  overflow: hidden;
  text-align: center;
} 
#imgShowArea .jcrop-holder{margin: 0 auto;height:auto;}